<div class="grid grid-cols-1 space-y-2">
    <div>
        <h1 class="text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-tl from-amber-300 to-orange-400">Paises</h1>
    </div>

    <div>
        <ul>
            <!-- <li routerLink="" 
                routerLinkActive="bg-amber-300" 
                [routerLinkActiveOptions]="{exact:true}" 
                class="p-2 rounded-md cursor-pointer">HomePage</li>
            <li routerLink="about" 
                routerLinkActive="bg-red-500" 
                class="p-2 rounded-md cursor-pointer">AboutPage</li>
            <li routerLink="contact" 
                routerLinkActive="bg-sky-300" 
                class="p-2 rounded-md cursor-pointer">Contact</li> -->
            <li routerLink="countries/by-capital" 
                routerLinkActive="bg-sky-300" 
                class="p-2 rounded-md cursor-pointer">Búsqueda por capital</li>
            <li routerLink="countries/by-country" 
                routerLinkActive="bg-sky-300" 
                class="p-2 rounded-md cursor-pointer">Búsqueda por pais</li>
            <li routerLink="countries/by-region" 
                routerLinkActive="bg-sky-300" 
                class="p-2 rounded-md cursor-pointer">Búsqueda por region</li>
        </ul>
    </div>
    
    

    <!-- <div class=" grid grid-cols-1 space-y-2">
        <button routerLink="" routerLinkActive="bg-amber-300" [routerLinkActiveOptions]="{exact:true}"
            class="p-2 rounded-md">
            HomePage
        </button>
    
        <button routerLink="about" routerLinkActive="bg-red-500" class="p-2 rounded-md">
            AboutPage
        </button>
    
        <button routerLink="contact" routerLinkActive="bg-sky-300" class="p-2 rounded-md">
            Contact
        </button>
    </div> -->
    
</div>


